<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://static.ejudd.uk/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/dist/beaconing/app.css">
  <link rel="stylesheet" href="/dist/beaconing/fontello/fontello.css">
  <link rel="stylesheet" href="/dist/accessabar/app.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="/dist/accessabar/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script src="/dist/beaconing/core.js"></script>
  <title>{{ .pageTitle }}</title>
</head>
<body>
  <script src="/{{ .pageScript }}"></script>
</body>
</html>
